@model ApartmanWeb.Models.HomeViewModel;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a href="@Url.Action("SetLanguage", "Home", new {lang="hr"})"><img src="~/images/lang-icons/hr.png" alt="HR" /> </a>
        <a href="@Url.Action("SetLanguage", "Home", new {lang="en"})"><img src="~/images/lang-icons/en.png" alt="EN" /> </a>
        <!-- <a href="@Url.Action("SetLanguage", "Home", new {lang="de"})"><img src="~/images/lang-icons/de.png" alt="DE" /> </a> -->
        &nbsp&nbsp&nbsp
        <a class="navbar-brand js-scroll-trigger" href="#page-top">My Dream</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#info">General info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#reservation">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {

                    <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="GuestsPage" asp-action="GeneralInfo">
                            Guest corner
                        </a>
                    </li>

                    var user = await UserManager.GetUserAsync(User);

                    if (await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                        <li class="nav-item">

                            <form display: inline-flex class="nav-link" asp-area="" asp-controller="Admin" asp-action="UserAccounts" title="Control panel">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Dashboard">
                                    <i class="fa fa-2x fa-cogs text-primary mb-3"></i>
                                </button>
                            </form>
                        </li>

                    }

                    <li class="nav-item">
                        <form display: inline-flex asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="nav-link">
                            <button type="submit" class="btn btn-link navbar-btn navbar-link" title="Log out">
                                <i class="fa fa-2x fa-sign-out  mb-3"></i>
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                    </li>
                }
            </ul>

        </div>
    </div>
</nav>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-uppercase">
                    Holiday home <br />
                </h2>
                <span class="main-title">
                    My Dream
                </span>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Gostinjac, Krk, Croatia</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find out more!</a>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-left">
                <h2 class="section-heading text-white">We have everything You need for a perfect vacation!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    If you wish to escape from the city noise then is this holiday home the right choice for you.
                    Located in the small island town Gostinjac surrounded by flowers and eco-fruit is nice and pleasantly decorated.
                    Enjoy preparing their specialties on the outdoor barbecue with family and friends.
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#info">I'm interested!</a>
            </div>
        </div>
    </div>
</section>

<section id="info">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-home text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Holiday home</h3>
                    <p class="text-muted mb-0">Spend time in your own privacy within 74m2</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-pagelines text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">1000m2 yard</h3>
                    <p class="text-muted mb-0">Enjoy playing badminton, grilling or drinking morning Coffee on the Terrace..</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-users text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">6 person</h3>
                    <p class="text-muted mb-0">In 3 bedrooms!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Decorated with love</h3>
                    <p class="text-muted mb-0">Revel in every part of your holiday!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-0" id="gallery">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">

            @foreach (var i in Model.ImageOrder)
            {
                <div class="col-lg-4 col-sm-6 col-centered-no-margins-tb">
                    <div class="col-centered-no-margins-tb">
                        <a class="portfolio-box" href="@Url.Action("Get", "Image", new {guid = @i})">
                            <img class="img-fluid" src="@Url.Action("Get", "Image", new {guid = @i})" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="p-0" id="reviews">
    <div class="row">
        @foreach (var review in Model.ReviewsList)
        {
            <div class="col-sm-3 col-centered">
                <div class="col-padding">
                    <div class="review-left">
                        @review.Name, @review.Country
                    </div>
                    <div class="review-right">
                        @review.Score/5
                    </div>
                    <div>
                        <br><hr>
                        @review.Review
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<section class="bg-primary" id="reservation">
    <div class="container">
        <div class="row">
            @if (!Model.DirectReservation)
            {
                <div class="col-lg-10 mx-auto text-center">
                    <p class="mb-2">
                        You can find more details and reservations options on the agency website: <br />
                    </p>
                    <p class="mb-5">
                        <a href="https://www.novasol.com/holidayhome/croatia/holiday-home-krk-dobrinj-ckk832">
                            <img src="http://www.travelweekly.co.uk/images/cms/original/5/9/4/2/a/easid-271034-media-id-11231.jpg">
                        </a>
                    </p>
                </div>
            }
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="my-4">
                <p class="mb-5">If you have questions, please feel free to contact us! We will answer in the shortest possible time.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p>+385 0000 000</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:mydream-krk@gmail.com">mydream-krk@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</section>



